/* main */

.atm-main {
    width: 100%;
}
.atm-hidden {
    display: none !important;
}
.atm-invisible {
    visibility: hidden !important;
}
.atm-main > * {
}

/* time series */

.atm-container {
    width: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    /*
    width: 48%;
    padding: 1rem 0;
*/
}
.atm-container:nth-child(odd) {
    /*
    padding-right: 2%;
*/
}
.atm-container:nth-child(even) {
    /*
    padding-left: 2%;
*/
}

.atm-legend {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.atm-svg-container {
    display: inline-block;
}

.atm-axis path,
.atm-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.atm-axis text {
    font: 10px sans-serif;
}

.atm-cells path {
    fill: none;
    stroke: #aaa;
    pointer-events: all;
}

.atm-cells :hover circle {
    fill: red;
}

/* pie chart */

.atm-pie-chart {
    position: relative;
}
.atm-pie-chart__header {
    position: absolute;
    top: -2rem;
    font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
