/* main */

.atm-main {
    width: 100%;
}
.atm-hidden {
    display: none !important;
}
.atm-invisible {
    visibility: hidden !important;
}
.atm-main > * {
}

.atm-controls {
    display: inline-block;
}
.atm-play-pause-toggle {
    display: inline-block;
}
.atm-button__play-pause {
    box-sizing: border-box;
    height: 50px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;

    /* play state */
    border-style: solid;
    border-width: 25px 0px 25px 40px;
}

.atm-button__play-pause.atm-paused {
    height: 50px;
    border-style: double;
    border-width: 0px 0px 0px 40px;
}

.atm-timepoint {
    text-align: center;
    font-weight: lighter;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #aaa;
}

/* time series */

.atm-container {
    width: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    /*
    width: 48%;
    padding: 1rem 0;
*/
}
.atm-container:nth-child(odd) {
    /*
    padding-right: 2%;
*/
}
.atm-container:nth-child(even) {
    /*
    padding-left: 2%;
*/
}

.atm-legend {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.atm-header {
    font-weight: lighter;
    font-size: 1.5rem;
}

.atm-svg-container {
    display: inline-block;
}

.atm-axis path,
.atm-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.atm-axis text {
    font: 10px sans-serif;
}

.atm-cells path {
    fill: none;
    stroke: #aaa;
    pointer-events: all;
}

.atm-cells :hover circle {
    fill: red;
}

/* pie chart */

.atm-pie-chart {
    position: relative;
}
.atm-pie-chart__header {
    position: absolute;
    top: -2rem;
    white-space: nowrap;
    font-size: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}
