/* main */

.atm-main {
    width: 100%;
}
.atm-hidden {
    display: none !important;
}
.atm-invisible {
    visibility: hidden !important;
}
.atm-main > * {
}

/* charts */

.atm-container {
    display: inline-block;
    width: calc(50% - 2px);
    border: 1px solid #aaa;
}

.atm-axis path,
.atm-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.atm-axis text {
    font: 10px sans-serif;
}

.atm-cells path {
    fill: none;
    stroke: #aaa;
    pointer-events: all;
}

.atm-cells :hover circle {
    fill: red;
}
